#!/usr/bin/env bash
# =============================================================================
# Override Terraform secrets in the environment.
# =============================================================================
# Copy this file and wire it up to your secrets manager:
#   cp env.sh.example env.sh
#
# Use it to override secrets set globally in your roots `env.sh`.
# The **bare minimum** is to provide an individual encryption passphrase for
# each environment. One compromised state should not lead to other states
# being compromised.

# What you **must override**:
# - State passphrase for encrypting state
#
# Examples for other, possible overrides:
#  - Set different SMTP credentials for production and staging
#  - Set a specific HCloud token for a dedicated HCloud project
#  - Set different S3 Bucket credentials to completely separate terraform state
# =============================================================================

# Encryption passphrase for terraform state
STATE_PASSPHRASE=""
export TF_ENCRYPTION="{\"key_provider\": {\"pbkdf2\": {\"s3\": {\"passphrase\":\"${STATE_PASSPHRASE}\"}}}}"

# Encryption passphrases for borg backups
export TF_VAR_borg_passphrase=""