#!/bin/bash
set -euo pipefail
%{ if database_ip != "" }
# Reboot DB server first
ssh -i ~/.ssh/internal_key -o StrictHostKeyChecking=accept-new -o ConnectTimeout=5 \
  ops@${database_ip} "nohup sudo bash -c 'sleep 2 && reboot' &>/dev/null &" 2>/dev/null || true
sleep 5
%{ endif }
cloud-init clean --logs
reboot
