# IDE
.idea/
.vscode/
*.swp
*.swo

# Secrets
env.sh
!env.sh.example
.env

# OS
.DS_Store
Thumbs.db

# Ansible temp files (SSH keys written by OpenTofu)
.ansible-tmp/

# Packer
packer_cache/
*.pkr.hcl.lock.hcl

# AI
CLAUDE.md
.claude