COMPOSE_PROJECT_NAME=htb

NODE_ENV="production"

APP_DOMAIN=htb.dev.site
GLOBAL_VARIABLE="Variable defined on a global level (TTLs, ports, etc.)"
ENVIRONMENT_SPECIFIC_VARIABLE="Environment specifc variable (JWT secrets, API keys, etc.)"

DB_HOST="database"
DB_PORT=5432
DB_NAME="test"
DB_USER="user"
DB_PASSWORD="password"